body{
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image:url('res/bg64.png');
}
.login{
  background-image: url('res/loginBack.jpg');
  margin: 0px;
  height: 100%;
  width: 100%;
}
header{
    
    color: white;
    overflow: hidden;
    background-color: black;

}
.menu{
    width: 100%;
    font-family: 'Montserrat';
    height: 50px;
    padding: 10px 15px;
    position: fixed;
    background-color: black;
    z-index: 2;
}
.mn{
  
  margin-left: 230px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    color: white;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color:#038dfe;
  }

  .inscr {
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 100px;
    background-color:#038dfe;
    color: white;
    text-align: center;
    font-size: 18px; 
    width: 150px;
    height: 40px;
    margin: 5px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
  }
  .inscr:hover{
    background-color: white;
    color:#038dfe;
}
.btn{
    padding-left: 200px;
}
  .ins {
    background-color: transparent;
    display: inline-block;
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 18px; 
    width: 170px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);

  }
  .ins:hover{
    background-color: white;
    color:black;
}
  .dcvr {
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 100px;
    background-color:#038dfe;
    color: white;
    text-align: center;
    font-size: 18px; 
    width: 200px;
    height: 50px;
    margin: 5px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
  }
   .dcvr:hover{
    background-color: white;
    color:#038dfe;
}
 
.slid{
  margin-top: 80px;
  background-image:url('res/youcode.jpg');
  background-size: 100%;
  height: 350px;
}
.typewrite{
  color: white;
  font-family: 'Montserrat';
  float: left;
  margin-left:200px ;
  margin-top: 80px;
  text-decoration: none;
}
.citation{
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding-top: 140px;
    padding-left: 200px;
}
h1{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #2b2b2b;
    letter-spacing: 0.08em;
    text-align: center;
}
.txt{
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
}
h4{
    font-size: 24px;
    letter-spacing: 0.08em;
    color:gray;
    
}
.infos{
    margin-left: 80px;
    display: flex;
}
.s {
    text-align: center;
    float: left;
    margin: 50px;
    width: 350px;
    height: 300px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
    flex-direction: row;
}
.rpns{
    margin-top: 150px;
    background-color:#038dfe;
    height: 450px;
}
.rp{
    background-color: black;
    height: 450px;
    width: 750;
    float: left;
}

.quoi{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 0.08em;
    color: #fff;
    text-align: center;
    float: left;
    letter-spacing: 0.08em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 170px;
}
#ct{
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat';
    text-align: center;
    float: left;
    margin-left: 220px;
}
#ds{
    margin: 25px 0;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.7;
    padding: 120px;
    margin-left: 750px;
}

.simplon{
  background-image:url('res/simplon.jpg');
  color: white;
  height: 450px;
  margin-top: 100px;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 52px;
}
#powred{
  color: #038dfe;
  font-size: 18px;
  padding-top: 180px;

}
#simp{
margin-top: -14px;
}
.pourcentage{
  background-color: #038dfe;
  height: 270px;
}
.prs{
  
    font-family: 'Montserrat';
    float: left;
    text-align: center;
    width: 33.26%;
    color: white;
    font-size: 23px;
    letter-spacing: 0.08em;
    border-right: 1px dashed black;

}
#nmbr{
  color: white;
  font-size: 48px;
  letter-spacing: 0.08em;
}

.sponsors{
  height: 800px;
  font-family: 'Montserrat';
  text-align: cente
}
#bref{
  padding-left:270px;
  padding-right:270px;
  font-size: 16px;
  line-height: 250%;
}
#cr{
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #2b2b2b;
  margin-top: 100px;
  letter-spacing: 0.08em;
  text-align: center;
}
#logo{
  margin-left: 730px;
}

.ins2 {
  border: none;
  cursor: pointer;
  border-radius: 100px;
  background-color:#038dfe;
  color: white;
  text-align: center;
  font-size: 18px; 
  width: 500px;
  height: 40px;
  margin: 5px;
  box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
}
.ins2:hover{
  background-color: white;
  color:#000000;
}
#t1{
  font-size: 30px;
  margin-top: 120px;
  margin-left:auto; 
  margin-right:auto;
}
footer{
  font-family: 'Montserrat';
  background-color: black;
  height: 90px;
}
.t2{
  color: gray;
  font-size: 14px;
  padding-left:450px; 
}
.t22{
  color: gray; 
}
.bar{
  background-color:#038dfea4;
  font-family: 'Montserrat';
  color: white;
  height: 50px;
  margin-left: 25px;
  width:300px;
  margin-top: 250px;
  position: absolute;
  z-index: 1;
}

#safi{
margin-left: 33%;
}
.map{
  margin-top: 40px;
}


.boit{

  background-color:white;
  border-radius: 50px;
  margin-top: 300px;
  margin-left:600px;;
  width:300px;
  height: 300px;
  margin-bottom: 300px;
}
.f1{
  color: black;
  margin-left: 65px;
}
#lg{
  width: 100%;
  padding:6px ;
  box-sizing: border-box;
}
#avatar{
  margin-left: 35px;
}
#lgb{
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  padding:6px ;
  box-sizing: border-box;
  background-color:#038dfe;;
}
h2{
  font-size: 26px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: #2b2b2b;
  letter-spacing: 0.08em;
}
#cmpt{
    border: 2px solid gray;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100px;
    color: black;
    text-align: center;
    font-size: 18px; 
    width: 150px;
    height: 40px;
    margin: 5px;
}
#frm{
  margin-top: 100px;
  margin-left: 250px;
}
#tgrid{
  font-size: 18px;
  font-family: 'Montserrat';
  width: 1000px;
  text-align: center;
  border: 1px solid black;
}
#grd{
  cursor: pointer;
  border-radius: 50px;
  background-color:white;
  border: 1px solid gray;
  color: black;
  text-align: center;
  font-size: 18px; 
  width: 150px;
  height: 40px;
}
#grd2{
  
    cursor: pointer;
    border-radius: 50px;
    background-color:#038dfe;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px; 
    width: 150px;
    height: 40px;
}
#n1,#n2,#n3{
  height: 25px;
  width: 25px;
  background-color: #eee;
}
