
body{
      margin: 0px;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
}

.container {
  position: absolute;
  text-align: right;
  height: 70px;
  width: 100%;
  line-height: 70px;
  z-index: 1;
  margin-left: 0;
  }
  
#logoo{ 
  float: left;
  margin-left: 20px;
  margin-top: 2%;
  z-index: 2;
}

label{
        color: white;
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
}

#toggle{
        display:none;
}

.menu{  position: absolute;
        overflow: hidden;
        width: 100%;
        font-family: 'Raleway';
        height: 50px;
        padding: 10px 15px;
}

.menu a{   
        font-family: 'Raleway';
        color: white;
        font-size: 14px; 
        margin: 0 30px 0 20px;
        line-height: 60px;
        text-decoration: none;

  }
  
#title{
    font-family: 'Raleway';
    color: white;
    position: absolute;
    margin-top: 160px;
    margin-left: 5%;
    letter-spacing: 7px;
    font-size: 50px;
  }
  #subtitile1{
    font-family: 'Raleway';
    color: white;
    position: absolute;
    margin-top: 300px;
    margin-left: 5%;
  }
  .explore {
    font-family: 'Raleway';
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 100px;
    background-color:white;
    color: black;
    text-align: center;
    font-size: 18px; 
    width: 150px;
    height: 60px;
    position: absolute;
    margin-top: 400px;
    margin-left: 5%;
        }
       
  #tower{
    width: 100%;
  }

.contFlex{
  position: absolute;
  margin-top: -70px;
  margin-left: 350px;
}
.flish{
  width: 220px;
  height: 340px;
  margin:-3px;
}
.flish:hover{
  transform: scale(1.1); 
}
#titlecity {
  margin-top: 80px;
  margin-left: 50px;
  color: black;
  font-family: 'Raleway';
} #subcity{
  margin-top: 30px;
  width: 300px;
  margin-left: 50px;
  color: black;
  font-family: 'Raleway';
  font-size: 13px;
}
#right{
  width:50px;
   height:50px;
}
#left{
  width:50px;
   height:50px;
}
.leftright{
  margin-left: 200px;
}
#noPath{
  margin-top: 300px;
  width: 100%;
}

#explore{
  width: 70%;
  height: 600px;
  background-color: #E2EAF0;
  position: absolute;
  margin-left: 14%;
  margin-top: 10%;
  box-shadow: 0px 10px 45px -6px rgba(0,0,0,0.28);
}

#hexpo{
  float: right;
  margin-right: 210px;
  margin-top: 70px;
  font-size: 24px;
  color: black;
  font-family: 'Raleway';
}
#pexpo{
  font-size: 12px;
  color: black;
  font-family: 'Raleway';
  position: absolute;
  width: 450px;
  margin-top: -460px;
  margin-left: 500px;
}
.enoPath{
  margin-left: 500px;
  margin-top: -300px;
  display: flex;
}

#enoPath{
  width: 110px;
  height: 100px;
  padding-left: 2%;
  flex-direction: row;
}

.leftright2{
  position: absolute;
  margin-left: 390px;
  margin-top: 500px;
}

#right2{
  width:50px;
   height:50px;
}
#left2{
  width:50px;
   height:50px;
}
#pex{
  font-size: 16px;
  color: black;
  font-family: 'Raleway';
  z-index: 1;
  margin-left: 84%;
  margin-top: 60px;
  position: absolute;
}
#cercle{
  margin-left: 90%;
  margin-top: 40px;
}

#titlemaps{
  position: absolute;
  font-size: 20px;
  color: black;
  font-family: 'Raleway';
  margin-left: 700px;
  margin-top: -510px;
}
#pmaps{
  position: absolute;
  font-size: 12px;
  color: black;
  font-family: 'Raleway';
  width: 500px;
  margin-left: 700px;
  margin-top: -470px;
}

#txtflsh{
  color: black;
  font-family: 'Raleway';
  position: absolute;
  margin-top: -300px;
  margin-left: 70%;
  display: flex;
}
#hflsh{
  font-size: 16px;
  padding-right:100px;
  flex-direction: row;
}
#flsh{
  margin-top: -290px;
  margin-left: 69%;
  display: flex;
}
#imgflsh{
  font-size: 16px;
  padding-right:150px;
  flex-direction: row;
}
#pflsh{
  color: black;
  font-family: 'Raleway';
  margin-left: 70%;
  width: 250px;
}

.btnflsh{ 
  font-family: 'Raleway';
  border: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  background-color:#C49D48;
  color: white;
  text-align: center;
  font-size: 16px; 
  width: 130px;
  height: 40px;
  position: absolute;
  margin-left: 73%;
  margin-top: 50px;
      }

#middlep{
  margin-top: 260px;
  font-family: 'Raleway';
  text-align: center;
  width: 550px;
  margin-left: 33%;
}
.Galerie {
  display: flex;
  padding: 4px 4px;
  width: 80%;
  margin: auto;
}

#GalerieP{
  flex: 20%;
  padding: 4px 4px;
  
}

#PhotoG{
  padding:  4px 4px 4px 4px;
}

.videotxt {
  margin-top: 30px;
  margin-left: 70px;
  font-family: 'Raleway';
  text-align: center;
}
.video{
  margin-top: 90px;
  margin-left: 100px;
}
.v{
  width: 250px;
}
.email{
  margin-top: 70px;
}
#ftr{
  width: 100%;
  height: 220px;
}
.email h1{
  color: white;
  font-family: 'Raleway';
  text-align: center;
  margin-top: 30px;
  margin-left: 350px;
  position: absolute;
}
.email p {
  
  color: white;
  font-family: 'Raleway';
  text-align: center;
  margin-top: 70px;
  margin-left: 370px;
  position: absolute;
}
.email #eml{
    width: 600px;
    height: 50px;
    position: absolute;
    margin-left:370px;
    margin-top: 120px;
}
.btneml{ 
  font-family: 'Raleway';
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color:#C49D48;
  color: white;
  text-align: center;
  font-size: 16px; 
  width: 170px;
  height: 50px;
  position: absolute;
  margin-left:1000px;
  margin-top: 120px;
      }

.infos{
  text-align: center;
  font-family: 'Raleway';
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.infos h1{
  font-size: 16px;
  color: #688095;
}
.infologo{
  
  flex-direction: row;
}
.infos p{
  width: 300px;
  font-size: 12;
  color: #688095;
}
.linkA{
  margin-left: 100px;
  flex-direction: row;
}
.linkB{
  margin-left: 100px;
  flex-direction: row;
}
.ContactC{
  margin-left: 100px;
  flex-direction: row;
}
.infos li {
  color: #AAA9A9;
  font-size: 12px;
}
footer{
  height: 30px;
  background-color: #688095;
  color: #CCCCCC;
  display: flex;
}
footer p{
  font-size: 12px;
  font-family: 'Raleway';
  flex-direction: row;
  margin-left: 400px;
}
.boit{
  justify-content: center;
}
.boit h1{
  text-align: center;
  font-family: 'Raleway';
}
#boitname{
  width: 350px;
  height: 50px;
  border: 2px solid #C49D48;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40%;
}

#boiteml{
  border-radius: 4px;
  width: 350px;
  height: 50px;
  border: 2px solid #C49D48;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40%;
}
#boitmsg{
  border-radius: 4px;
  width: 350px;
  height: 200px;
  border: 2px solid #C49D48;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 40%;
}
.btnenv{ 
  font-family: 'Raleway';
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color:#C49D48;
  color: white;
  text-align: center;
  font-size: 12px; 
  width: 100px;
  height: 40px;
  margin-left:48%;
  margin-top: 35px;
      }
@media screen and (max-width: 363px)  {
  body{
        margin: 0px;
        width: 360px;
     } 
  .container{
        position: fixed;
        width: 396px;
        background-color: black;
        border-bottom: 2px solid #000000;
  }
     #logoo{ 
        
      position: fixed;
        margin-left: -75%;
        margin-top: 5%;
    }
       
  label{
         display: block;
         cursor: pointer;  
      }

  a{
         display: block;
    }
      
  .menu  {
          position: fixed;
          text-align: center;
          font-size: 16px;
          display: none;
          width: 100%;
          height:400px;
          font-family: 'Montserrat';
          overflow: hidden;
          background-color: black;
          }
         

         #toggle:checked + .menu{
         display: block;     
         }
      

         #title{
          font-family: 'Raleway';
          color: white;
          position: absolute;
          margin-top: 140px;
          margin-left: 5%;
          letter-spacing: 1px;
          font-size: 30px;
        }
        #subtitile1{
          font-family: 'Raleway';
          color: white;
          position: absolute;
          margin-top: 220px;
          margin-left: 5%;
          font-size: 12px;
        }
        .explore {
          font-family: 'Raleway';
          border: none;
          cursor: pointer;
          display: inline-block;
          border-radius: 100px;
          background-color:white;
          color: black;
          text-align: center;
          font-size: 12px; 
          width: 100px;
          height: 40px;
          position: absolute;
          margin-top: 300px;
          margin-left: 5%;
              }
        #tower{
          margin-top: 72px;
          width: 110%;
          height: 290px;
        }
        .contFlex{
          position: absolute;
          margin-left: 200px;
          margin-top: -30px;
        }
     
        #flish5{
          margin-top: 30px;
          position: absolute;
          width: 160px;
          height: 200px;
          margin-left: -60px;
        }
        #flish4{
          margin-top: 30px;
          position: absolute;
          margin-left: 37px;
          width: 160px;
          height: 200px;
        }
        #flish1{
          position: absolute;
          width: 160px;
          height: 250px;
        }
        #flish2{
          display: none;
        }
        #flish3{
          display: none;
        }
        #titlecity {
          margin-top: 40px;
          margin-left: 6px;
          color: black;
          font-family: 'Raleway';
          font-size: 16px;
        } #subcity{
          margin-top: 12px;
          width: 120px;
          margin-left: 6px;
          color: black;
          font-family: 'Raleway';
          font-size: 10px;
        }
        #right{
          width:30px;
           height:30px;
        }
        #left{
          width:30px;
           height:30px;
        }
        .leftright{
          margin-left: 60px;
        }
        #noPath{
          width: 397px;
          margin-top: 160px;
        }
        #explore{
          width: 320px;
          height: 200px;
          background-color: #E2EAF0;
          position: absolute;
          margin-left: 40px;
          margin-top: 70px;
          box-shadow: 0px 10px 45px -6px rgba(0,0,0,0.28);
        }
        #noPath2{
          
          width: 147px;
          height:200px;
        }
        #hexpo{
          float: right;
          margin-right: 30px;
          margin-top:10px;
          font-size: 10px;
          color: black;
          font-family: 'Raleway';
        }
        #pexpo{
          font-size: 8px;
          color: black;
          font-family: 'Raleway';
          position: absolute;
          width: 150px;
          margin-top: -170px;
          margin-left: 160px;
        }

        .enoPath{
          margin-left: 160px;
          margin-top: -100px;
          display: flex;
        }
        
        #enoPath{
          width: 65px;
          height: 50px;
          padding-left: 2%;
          flex-direction: row;
        }
        .enoPathdis{
          display: none;
        }

        .leftright2{
          position: absolute;
          margin-left: 125px;
          margin-top: 170px;
        }
        #left2{
          width: 20px;
          height: 20px;
        }
        #right2{
          width: 20px;
          height: 20px;
        }
        #pex{
          font-size: 12px;
          color: black;
          font-family: 'Raleway';
          z-index: 1;
          margin-left: 70%;
          margin-top: 20px;
          position: absolute;
        }
        #cercle{
          margin-left: 84%;
          margin-top: 13px;
          width: 30px;
          height: 30px;
        }

        #dubai{
          width: 397px;
          height: 400px;
        }
       
        #jardin{
          border-radius: 4px;
          width: 160px;
          height: 170px;
          margin-top: 15px;
          margin-left: 10px;
        }
        #titlemaps{
          position: absolute;
          font-size: 14px;
          color: black;
          font-family: 'Raleway';
          margin-left: 180px;
          margin-top: 20px;
        }
        #pmaps{
          position: absolute;
          font-size: 9px;
          color: black;
          font-family: 'Raleway';
          width: 200px;
          margin-left: 180px;
          margin-top: 55px;
        }
        #txtflsh{
          color: black;
          font-family: 'Raleway';
          position: absolute;
          margin-top: -96px;
          margin-left: 210px;
          display: flex;
        }
        #hflsh{
          font-size: 14px;
          padding-right:30px;
          flex-direction: row;
        }
        #flsh{
          margin-top: -90px;
          margin-left: 190px;
          display: flex;
        }
        #imgflsh{
          font-size: 16px;
          padding-right:78px;
          flex-direction: row;
        }
        #pflsh{
          color: black;
          font-family: 'Raleway';
          font-size: 10px;
          margin-left: 180;
          margin-top: 10px;
          width: 200px;
        }
        .btnflsh{ 
          font-family: 'Raleway';
          border: none;
          cursor: pointer;
          display: inline-block;
          border-radius: 4px;
          background-color:#C49D48;
          color: white;
          text-align: center;
          font-size: 14px; 
          width: 100px;
          height: 30px;
          position: absolute;
          margin-left: 69%;
          margin-top: -3px;
              }
         #middlep{
           margin-top: 60px;
           font-family: 'Raleway';
           text-align: center;
           width: 350px;
           margin-left: 6%;
              }
    #middlep h1{
          font-size: 16px;
    }
    #middlep p{
      font-size: 10px;
    }
    .Galerie {
      display: flex;
      padding: 4px 4px;
      width: 90%;
      margin-left: 30px;
    }
    
    #GalerieP{
      flex: 90%;
      padding: 4px 4px;
      
    }
    .videotxt {
      margin-top: 20px;
      margin-left: 50px;
      font-family: 'Raleway';
      text-align: center;
      font-size: 12px;
    }
    #videoa{
      display: none;
    }
    #videob{
      display: none;
    }
    #videoc{
      display: none;
    }
    #videod{
      display: none;
    }
    .video{
      margin-top: 30px;
      margin-left: 34px;
    }
    .v{
      width: 330px;
    }
    .email{
      margin-top: 70px;
    }
    #ftr{
      width: 397px;
      height: 70px;
    }
    .email h1{
      color: white;
      font-family: 'Raleway';
      text-align: center;
      margin-top: 5px;
      margin-left: 12px;
      position: absolute;
      font-size: 12px;
    }
    .email p {
      
      color: white;
      font-family: 'Raleway';
      text-align: center;
      margin-top: 20px;
      margin-left: 12;
      position: absolute;
      font-size: 8px;
    }
    .email #eml{
        width: 200px;
        height: 20px;
        position: absolute;
        margin-left:30px;
        margin-top: 35px;
    }
    .btneml{ 
      font-family: 'Raleway';
      border: none;
      cursor: pointer;
      display: inline-block;
      background-color:#C49D48;
      color: white;
      text-align: center;
      font-size: 8px; 
      width: 70px;
      height: 20px;
      position: absolute;
      margin-left:270px;
      margin-top: 35px;
          }

          
          .infos p{
            width: 300px;
            font-size: 12;
            color: #688095;
          }
          .infos h1{
            font-size: 16px;
            color: #688095;
          }
        
          .ContactC{
            margin-top: -70px;
            margin-left: 35px;
          }
          .infologo{
            display: none;
          }
          .linkA{
            display: none;
          }
          .linkB{
            margin-left: 50px;
            display: none;
          }

          footer{
            width: 397px;
          }
          footer p{
            font-size: 10px;
            font-family: 'Raleway';
            flex-direction: row;
            margin-left: 10;
          }

         
          #boitname{
            border-radius: 4px;
            width: 350px;
            height: 50px;
            border: 2px solid #C49D48;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 20px;
          }
          #boiteml{
            border-radius: 4px;
            width: 350px;
            height: 50px;
            border: 2px solid #C49D48;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 20px;
          }
          #boitmsg{
            border-radius: 4px;
            width: 350px;
            height: 200px;
            border: 2px solid #C49D48;
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 20px;
          }
          .btnenv{ 
            font-family: 'Raleway';
            border: none;
            cursor: pointer;
            display: inline-block;
            background-color:#C49D48;
            color: white;
            text-align: center;
            font-size: 12px; 
            width: 100px;
            height: 40px;
            margin-left:38%;
            margin-top: 35px;
                }
}